<ion-header translucent no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button fill="icon-only">
            <ion-icon name="save"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title text-center style="font-weight: bold; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #fff; text-shadow: 1px 1px rgba(24, 24, 24, 0.26);">Book Now</ion-title>
    <ion-buttons slot="end" (click)="dismiss()">
      <ion-button color="light">
        <ion-icon style="font-weight: bold; text-shadow: 1px 1px rgba(24, 24, 24, 0.26);" color="light" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>


  <main class="main">

    <div class="loader" *ngIf="loader">
      <div class="loader-1">
        
      </div>
    </div>

      <div class="description animated delay-0.4s" [ngClass]="{'flipInX':describe, 'descript zoomIn':!describe}">
        <div class="slideUp">
            <ion-fab-button color="light" class="btnClose" size="small" (click)="closeDescriptionAnimate()">
                <ion-icon color="dark" [name]="icon"></ion-icon>
              </ion-fab-button>
        </div>
        <article>
            <p class="header-para" style="text-align: center;">View Tattoo's Information</p>
            <img src="{{image}}" alt="" width="100px" class="small-image">
            <p> {{description}}</p>
            <h1 style="font-size: 2.8vh;text-align: center; color:#fff">R{{startPrice}} - R{{endPrice}}</h1>
        </article>
      </div>
    <div class="container">
        <img class="imagee" src="{{image}}" alt="">
        <div class="show-close"></div>
       <div class="tittle">
          <div class="priceRage">
              <p style="font-weight: bold; font-size: 100%;" class="animated flipInX delay-1s">R{{startPrice}} - R{{endPrice}}</p>
            </div>
         <p>{{name}}</p>
       </div>
    </div>
    <div class="booking animated zoomIn delay-.5s">
          

          <form [formGroup]="tattooForm">

            <ion-grid>
              <ion-row justify-content-center>
                <ion-col size="12">

                  <ion-item class="item" style="margin-bottom: 1em;">
                    <ion-label color="primary" position="floating">Length (in Centimetre)</ion-label>
                    <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" inputmode="number" type="number" formControlName="Length" [(ngModel)]="Length" placeholder="Specify your Length (CM) e.g 10" required="true"></ion-input>
                    <ion-icon name="calculator" color="primary" slot="end"></ion-icon>
                  </ion-item>
                   
                    <div class="error" *ngFor="let validate of validation_messages.Length">
                        <div class="messages" *ngIf="tattooForm.get('Length').hasError(validate.type) && (tattooForm.get('Length').dirty || tattooForm.get('Length').touched)">
                          {{validate.message}}
                      </div>
                      </div>
                </ion-col>
              </ion-row>
              <ion-row justify-content-center>
                <ion-col size="12">
                  <ion-item class="item" style="margin-bottom: 1em;">
                    <ion-label color="primary" position="floating">Breadth (in Centimetre)</ion-label>
                    <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" inputmode="number" type="number" formControlName="Breadth" [(ngModel)]="Breadth" placeholder="Specify your Breadth (CM) e.g 4" required="true"></ion-input>
                    <ion-icon name="calculator" color="primary" slot="end"></ion-icon>
                  </ion-item>
                      <div class="error" *ngFor="let validate of validation_messages.Breadth">
                          <div class="messages" *ngIf="tattooForm.get('Breadth').hasError(validate.type) && (tattooForm.get('Breadth').dirty || tattooForm.get('Breadth').touched)">
                            {{validate.message}}
                        </div> 
                        </div>
                </ion-col>
              </ion-row>
              <ion-row justify-content-center>
                <ion-col size="12">
                    <p style="font-size: 80%;">You will receive a contract, date and time at which you can come and have your tattoo done.</p>
                </ion-col>
                <ion-col size="6" justify-content-center>
                    <ion-button  color="secondary" shape="round" expand="block" (click)="senBookig(tattooForm)" [disabled]="!tattooForm.valid">Book</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
        <!--       <ion-item>
                  <ion-label position="floating">Length in cm</ion-label>
                  <ion-input type="number" formControlName="Length" [(ngModel)]="Length"></ion-input>
                </ion-item>
                <div class="error" *ngFor="let validate of validation_messages.Length">
                  <div class="messages" *ngIf="tattooForm.get('Length').hasError(validate.type) && (tattooForm.get('Length').dirty || tattooForm.get('Length').touched)">
                    {{validate.message}}
                </div> 
              </div>
              
                <ion-item>
                    <ion-label position="floating">Breadth in cm</ion-label>
                    <ion-input type="number" formControlName="Breadth" [(ngModel)]="Breadth" ></ion-input>
                  </ion-item>
                  <div class="error" *ngFor="let validate of validation_messages.Breadth">
                    <div class="messages" *ngIf="tattooForm.get('Breadth').hasError(validate.type) && (tattooForm.get('Breadth').dirty || tattooForm.get('Breadth').touched)">
                      {{validate.message}}
                  </div> 
                </div>
                
              
                  <ion-item>
                     <p>You will receive a contract, date and time at which you can come and have your tattoo done.</p>
                    </ion-item>
              
              
               
        
    <ion-button  color="secondary" shape="block" (click)="senBookig(tattooForm)" [disabled]="!tattooForm.valid">Book</ion-button>  -->
  </form>
  </div>
  </main>

<!--   <div class="tattoo-image">
      <div class="tattoo-details-image">
          <img src="{{image}}" alt="">
        </div>
  </div>

  <main class="main">

     <section class="upload-tattoo">
      <div class="upload" >
        <div class="tattoo-details-image">
          <img src="{{image}}" alt="">
        </div>
        <div class="information-details">
          <p>Price range : {{priceRange}}</p>
          <p>TattooName: {{name}}</p>
          <p>Category : {{category}}</p>
          <p>{{description}}</p>
        </div>
        
      </div>
    </section> 


    <section class="form-container">
     
     
            <ion-list>
                    
                   <ion-item>                      
                          <p>Price range : {{priceRange}}</p>
                      </ion-item>

                      <ion-item>                      
                          <p>TattooName: {{name}}</p>
                      </ion-item>

                      <ion-item>                      
                          <p>Category : {{category}}</p>
                      </ion-item>

                      <form [formGroup]="tattooForm">
                      <ion-item>
                          <ion-label position="floating">Length in cm</ion-label>
                          <ion-input type="number" formControlName="Length" [(ngModel)]="Length"></ion-input>
                        </ion-item>
                        <div class="error" *ngFor="let validate of validation_messages.Length">
                          <div class="messages" *ngIf="tattooForm.get('Length').hasError(validate.type) && (tattooForm.get('Length').dirty || tattooForm.get('Length').touched)">
                            {{validate.message}}
                        </div> 
                      </div>
                      
                        <ion-item>
                            <ion-label position="floating">Breadth in cm</ion-label>
                            <ion-input type="number" formControlName="Breadth" [(ngModel)]="Breadth" ></ion-input>
                          </ion-item>
                          <div class="error" *ngFor="let validate of validation_messages.Breadth">
                            <div class="messages" *ngIf="tattooForm.get('Breadth').hasError(validate.type) && (tattooForm.get('Breadth').dirty || tattooForm.get('Breadth').touched)">
                              {{validate.message}}
                          </div> 
                        </div>
                        
                      
                          <ion-item>
                             <p>You will receive a contract, date and time at which you can come and have your tattoo done.</p>
                            </ion-item>
                      
                      
                       
                
            <ion-button  color="secondary" shape="block" (click)="senBookig(tattooForm)" [disabled]="!tattooForm.valid">Book</ion-button> 
          </form>


        </ion-list>
    </section>
  </main> -->
</ion-content>
  
    


