<ion-header translucent no-border>
  <ion-toolbar>
   <ion-buttons slot="end" (click)="dismiss()">
      <ion-button color="light">
        <ion-icon style="font-weight: bold; text-shadow: 1px 1px rgba(24, 24, 24, 0.26);" color="light" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="color: #fff; text-shadow: 1px 2px #000;">{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>


  <main class="main">

    <div class="loader" *ngIf="loader">
      <div class="loader-1">
        
      </div>
    </div>

      <div class="description animated delay-0.4s" [ngClass]="{'flipInX':describe, 'descript zoomIn':!describe}">
        <div class="slideUp">
            <ion-fab-button color="light" class="btnClose" size="small" (click)="closeDescriptionAnimate()">
                <ion-icon color="dark" [name]="icon"></ion-icon>
              </ion-fab-button>
        </div>
        <article *ngIf="describe">
            <p class="header-para" style="text-align: center;">View Tattoo's Information</p>
            <img src="{{image}}" alt="" width="100px" class="small-image">
            <p> {{description}}</p>
            <h1 style="font-size: 2.8vh;text-align: center; color:#fff">{{startPrice | currency : '&#82;'}} - {{endPrice | currency : '&#82;'}}</h1>
        </article>
      </div>
    <div class="container">
        <img class="imagee" src="{{image}}" alt="">
        <div class="show-close"></div>
       <div class="tittle">
          <div class="priceRage">
              <p style="font-weight: bold; font-size: 100%; font-family: 'NewRocker'" class="animated flipInX delay-1s">{{startPrice | currency : '&#82;'}} - {{endPrice | currency : '&#82;'}}</p>
            </div>
        
       </div>
    </div>
    <div class="booking animated zoomIn delay-.5s">
         

          <form [formGroup]="tattooForm"> 

            <ion-item>
              <ion-label>Tattoo Sizes</ion-label>
              <ion-select name="categories" [(ngModel)]="sizes" formControlName="sizes" >
                <ion-select-option value="Small" selected >Small </ion-select-option>
                <ion-select-option value="Medium">Medium</ion-select-option>
                <ion-select-option value="Large">Large</ion-select-option>
              </ion-select>
            </ion-item>
            <div class="error" *ngFor="let validate of validation_messages.sizes">
              <div class="messages" *ngIf="tattooForm.get('sizes').hasError(validate.type) && (tattooForm.get('sizes').dirty || tattooForm.get('sizes').touched)">
                {{validate.message}}
            </div> 
            </div>

            <ion-item>
              <ion-label position="floating">Date</ion-label>
              <ion-datetime  displayFormat="MMM DD YYYY HH:mm a"  pickerFormat="MMM DD YYYY  HH:mm a" [(ngModel)]="date" formControlName="date" [min]="minDate"></ion-datetime>
              <ion-icon size="small" slot="end" name="ios-calendar"></ion-icon>
            </ion-item>


            <div class="error" *ngFor="let validate of validation_messages.date">
              <div class="messages" *ngIf="tattooForm.get('date').hasError(validate.type) && (tattooForm.get('date').dirty || tattooForm.get('date').touched)">
                {{validate.message}}
            </div>
            </div>
            <div class="color-edition"  style="margin-top: 2em;">
              <ion-label color="primary">Do you want additional colors?</ion-label>
              <div class="inputs">
                <div class="max" *ngFor="let color of color">
             
                  <input
                   type="radio" 
                    name="tattooSize"
                    value="{{color}}"
                    (change)="radioChangeHandler($event)">
                  
                  
                  
                  <span>{{color}}</span>
                  
                </div>
              </div>
            </div>
              
           

         
       
             




              <ion-row justify-content-center>
                <ion-col size="12" style="margin: 1.7em 0 !important;">
                  <p *ngIf="SelectedSize == 'yes'" style="color: seagreen;margin: 1em 0 !important;"> <ion-icon name="checkmark"></ion-icon> {{SelectedSize | titlecase}}, I need additional colors please.</p>
                  <p *ngIf="SelectedSize == 'no'" style="color: rgb(207, 71, 71);margin: 1em 0 !important;"><ion-icon name="close"></ion-icon> {{SelectedSize | titlecase}}, I just want a Tattoo. Thanks.</p>
                    <p style="font-size: 80%;margin: 1em 0 !important;">You will receive a contract, date and time at which you can come and have your tattoo done.</p>
                </ion-col>
                <ion-col size="6" justify-content-center>
                    <ion-button  color="secondary" shape="round" mode="ios" expand="block" (click)="senBookig()"  >Book</ion-button>
                </ion-col>
              </ion-row>
    
               
        

  </form>
  </div>
  </main>




  

                
         
</ion-content>
  
    


