<ion-header translucent no-border>
  <ion-toolbar>
    <ion-title text-center style="font-weight: bold; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #fff">Successful</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
<!-- <h1>Booked Sucessfully</h1>
<h2>You will soon get a response from the Tattoo Artist</h2><br />
<button (click)="CloseModel()" >Ok</button> -->

<main class="main-success">
  <div class="container-success animated slideInUp">
    <div class="success  animated zoomIn">
        <img class="animated jello delay-1s" src="../../assets/icon/Group 94.svg" alt="">
    </div>
    <div class="success-messages">
      <h1 style="font-size: 80%;">Successfully Booked</h1> 
      <p style="font-size: 70%;">You will soon get a response from the Tattoo Artist</p>
      <ion-button shape="round" color="success" mode="ios" (click)="CloseModel()">Ok Thanks</ion-button>
   </div>
  </div>
 
</main>
</ion-content>
