

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0;



}
/* .fullscreenTattoo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;


    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
} */

.nav-bar {
    display: flex;
    flex-basis: 5%;
    background: #000;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.list {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;


}
.header-explore{
    font-family: 'Pacifico', cursive !important;
    color: #888 !important;
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.profile-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;

    p {
        margin: 0 !important;
        padding: .5em;

    }
  

    img {
        height: 5vh;
        width: 5vh;
        object-fit: cover;
        border-radius: 50px;


    }
}


.split-pane, .menu-btn {
    display: none;

}

.list-split-pane {
    padding: 1em;

}
.logoman {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;

}
.wrapper-page {
    flex-basis: 95%;
    width: 100%;
  
    display: flex;
    flex-direction: column;



}

.notification {
    position: relative;
}
.badge {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 19px;
    height: 19px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper-header {
    flex-basis: 20%;
    width: 100%;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)),url('../../assets/matheus-ferrero-7EM79VNJsx4-unsplash.jpg');
    background-position: center;
    background-size: cover; 
   
    


    p {
        color: #fff;
        font-size: 100%;
        font-weight: bold;
        padding: .5em;
        flex: 1;
    }

    h1 {
        justify-self: center;
        align-self: center;
        color: #f1f1f1;
        font-weight: 700;
    }


}

.cont-container {
    display: flex;
    width: 100%;
    flex-basis: 80%;
}

ion-button.explore {
    position: relative;


    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        height: 5px;
        background: #d36954;
        border-radius: 50px;
        transition: 500ms;
    }
}

.list > ion-button {
    position: relative;
    transition: 500ms;


   

    &:hover::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        height: 5px;
        background: #d36954;
        border-radius: 50px;
        transition: 500ms;
    }
}

.information {
    display: flex;
    justify-content: space-evenly;
   
    align-items: flex-start;
    flex-direction: column;

    flex-basis: 10%;
    background: rgb(226, 226, 226);


    & > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-basis: 100%;
        padding: 1em;


    }
}

.phone-div {
    flex: 1;
    padding: 1em;
}

.map {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;

   .infor {
       flex-basis: 20%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 1em;
   }

   .image-tatt {
       flex-basis: 80%;
       display: flex;
       justify-content: center;
       align-items: center;

       img {
           flex-basis: 80%;
           width: 80%;
           height: 80%;
           object-fit: cover;
       }
   }



}

.forms {
    flex-basis: 30%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    
    


}
.header-form {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;

   
}
h3 {
    margin: 1em;
}
p {
    font-size: 90% !important;

}



.contactUsMap {
    flex-basis: 60%;
    width: 80rem;
    margin: 0 auto;
    background: rgb(185, 185, 185);
    display: flex;
    flex-direction: row;


    & > div {
        flex: 1;
       
    }
    
}
ion-item.item {
    --padding-bottoms: 10px;
}
@media only screen and (max-width: 600px) {

    .cont-container {
        flex-direction: column;
    }
    .extend {
        width: 100%;
    }
    .wrapper-page {
       display: block;
       overflow-x: hidden;
       overflow-y: auto;

  

       & > .forms {
         display: none;

       }

    }
    .wrapper-header {
        flex-basis: 20%;
    }

    .scroll-container {
        .scroll-list {
            flex: 0 0 60%;

            .scroll-item {
                .scroll-key {
                    flex: 0 0 80%;
                }
               
            }
        }
    }

    .list {
        display: none;
    
    }
    .menu-btn  {
        display: block;
    }
    .split-pane {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background: rgba(0, 0, 0, 0.83);
        z-index: 1000;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.281);


    }
    .close {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10%;
       
        padding-left: .3em;

    }
    .profile-image {
        img {
            height: 8vh;
            width: 8vh;

        }
    }
    .logo {
        flex: 1;

    }
    
}
@media only screen and (min-width: 600px) {
    .scroll-container {
        .scroll-list {
            flex: 0 0 40%;

            .scroll-item {
                .scroll-key {
                    flex: 0 0 20%;
                }
               
            }
        }
    }
}