<ion-header no-border>
  <ion-toolbar  [style.backgroundColor]="!tattoo ? '#fff' : 'rgba(0,0,0,0.5)'">
    <ion-title [style.color]="!tattoo ? 'grey' : '#fff'">Customize</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" fill="icon-only" color="light">
        <ion-icon [style.color]="!tattoo ? 'grey' : '#fff'"  name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>
<ion-content fullscreen>
 
    <div class="loader" *ngIf="loader">
      <div class="loader-1">
    
      </div>
    </div>

    <div class="wrap-image animated bounce" *ngIf="tattoo">
      <label class="fileContainer">
        Change your custom Tattoo
        <input type="file"  accept="image/*" (change)="changeListener($event)"/> 
    </label>
     <img src="{{tattoo}}" alt="">
    </div>

    <form class="form" [formGroup]="tattooForm" *ngIf="tattoo">
      <ion-item>
        <ion-label >Tattoo Sizes</ion-label>
        <ion-select name="categories" [(ngModel)]="sizes" formControlName="sizes" >
          <ion-select-option value="Small" >Small </ion-select-option>
          <ion-select-option value="Medium">Medium</ion-select-option>
          <ion-select-option value="Large">Large</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error" *ngFor="let validate of validation_messages.sizes">
        <div class="messages" *ngIf="tattooForm.get('sizes').hasError(validate.type) && (tattooForm.get('sizes').dirty || tattooForm.get('sizes').touched)">
          {{validate.message}}
      </div> 
      </div>
      <ion-item>
        <ion-label position="floating">Date</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY HH:mm a"  pickerFormat="MMM DD YYYY  HH:mm a" [(ngModel)]="date" formControlName="date" [min]="minDate"></ion-datetime>
        <ion-icon size="small" slot="end" name="ios-calendar"></ion-icon>
      </ion-item>
      <div class="error" *ngFor="let validate of validation_messages.date">
        <div class="messages" *ngIf="tattooForm.get('date').hasError(validate.type) && (tattooForm.get('date').dirty || tattooForm.get('date').touched)">
          {{validate.message}}
      </div>
      </div>
      <ion-item >
        <ion-label  position="floating">Description</ion-label>
       <ion-textarea formControlName="desc" type="text"  name="description"  autocorrect="on" rows="3" cols="20"  [(ngModel)]="desc"  onkeypress="return /[a-zA-Z\s]/i.test(event.key)"  placeholder="{{desc}}"></ion-textarea>
      
   </ion-item>
      <div class="error" *ngFor="let validate of validation_messages.desc">
        <div class="messages" *ngIf="tattooForm.get('desc').hasError(validate.type) && (tattooForm.get('desc').dirty || tattooForm.get('desc').touched)">
          {{validate.message}}
      </div>
      </div>
      <div class="color-edition"  style="margin-top: 2em;"> 
        <ion-label>colour additional</ion-label>
        <div class="inputs">
      
    
          <div class="max" *ngFor="let color of color">
         
            <input
             type="radio" 
              name="tattooSize"
              value="{{color}}"
              (change)="radioChangeHandler($event)">
            
            
            
            <span>{{color}}</span>
            
          </div>
      </div>
      </div>
  
        
      
        <ion-row justify-content-center>
          <ion-col size="12">
            <p *ngIf="SelectedSize == 'yes'" style="color: seagreen;"> <ion-icon name="checkmark"></ion-icon> {{SelectedSize | titlecase}}, I need additional colors please.</p>
            <p *ngIf="SelectedSize == 'no'" style="color: rgb(207, 71, 71);"><ion-icon name="close"></ion-icon> {{SelectedSize | titlecase}}, I just want a Tattoo. Thanks.</p>
              <p style="font-size: 80%;">You will receive a contract, date and time at which you can come and have your tattoo done.</p>
          </ion-col>
         
          
        </ion-row>

         
  

      </form>



    <div class="container" *ngIf="!tattoo">
    
      <div class="images">
       
      
          <div class="tap">
            <label class="fileContainer animated jello">
              Tap to Upload your custom Tattoo
              <input type="file"  accept="image/*" (change)="changeListener($event)"/> 
          </label>
          </div>
          <div class="percentage">
           
            <ion-progress-bar color="secondary" value="{{progress}}"></ion-progress-bar>
          </div>
      </div>

     
     
    </div>

</ion-content>
<ion-footer *ngIf="tattoo">
 
     <div class="f_r">
         <ion-button  color="secondary" shape="round" mode="ios" expand="block" (click)="Booking(tattooForm)" [disabled]="!tattooForm.valid" >Book</ion-button>
     </div>
      
</ion-footer>