<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="messageInfo.message">
      <ion-button  class="hide" fill="clear" color="dark"  (click)="back()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title text-center>Messages</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" color="dark"  (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>


 <!--  <ion-list >
    <ion-item>
      <p> Name :{{message.obj.name}}</p> <br>
      <p>Email : {{message.obj.email}}</p>
      <p>Message : {{message.obj.message}}</p>
      <p>Time : {{message.obj.time}}</p>
      <button (click)="updateMessage(message.keys)">Read</button>
    </ion-item>
</ion-list> -->

  <div class="list">

    <div class="read-not-container">
      <div class="header-reader">
        <ion-badge color="primary">{{AllMessages}}</ion-badge>
        <p>All Messages</p>
        <ion-badge color="success">{{ReadMessages}}</ion-badge>
        <p>Read Messages</p>
        <ion-badge color="secondary">{{unReadMessages}}</ion-badge>
        <p>Unread Messages </p>
      </div>
      <div class="messages">
       
        <div class="item" *ngFor = "let message of MyMessages; let i=index;" (click)="updateMessage(message.obj.uid, message.id, message.obj, i)" [ngClass]="{'active': active == i}">
          <div class="statuss" [ngClass]="{'notRead': message.stat=='NotRead', 'Read': message.stat=='Read'}"></div>
          <ion-icon size="small" color="dark" name="mail"></ion-icon>
          <div class="info">
            <p>{{message.obj.name}}</p>
            <p>{{message.obj.time}}</p>
          </div>
         
        </div>
        
        
      </div>
    </div>
   
  

    <div class="content-messages animated slideInUp">
        <div class="header">
         
          <h1 style="color: #fff; font-size: 80%;"> {{messageInfo.name}}</h1>
          <ion-icon color="light" size="small" name="ios-person"></ion-icon>
         
        </div>

        <div class="message-text">
        <p  *ngIf="messageInfo.message" class="no-selected animated" [ngClass]="{'zoomInLeft': messageInfo.message}">{{messageInfo.message}}</p>
        <div class="no-selected" *ngIf="!messageInfo.message">
          <p>Please select a message card on the left hand side to read</p>
        </div>
        </div>

        <textarea   *ngIf="messageInfo.message" class="no-selected animated" [ngClass]="{'zoomInLeft': messageInfo.message}"  [(ngModel)]="response" name="" id="" cols="30" rows="5"></textarea>
<button  *ngIf="messageInfo.message" class="no-selected animated" [ngClass]="{'zoomInLeft': messageInfo.message}"  (click)="sendMessage()">Send</button>

        <div class="options" >
          <!-- <ion-button fill="clear" color="danger"  ><ion-icon name="trash" ></ion-icon></ion-button> -->
          <p style="color: #000; font-size: 80%;"> <ion-icon name="time"></ion-icon> {{messageInfo.time}}</p>
        </div>

        
    </div>
  </div>






  
</ion-content>
