<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="pro-main">
        <div class="profile_rsx">
         <img src="../../assets/allef-vinicius-vKIc4k6dm10-unsplash.jpg" alt="">
         </div>
         <div class="names">
           <p style="font-weight: bold;">Muenda Khuthadzo</p>
           <p>072 578 3324</p>
         </div>

      </div>
    </ion-buttons>
    

    <ion-buttons slot="end">
      <ion-button fill="clear" color="dark"  (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

 

   
   
  

    <div class="content-messages">
        <div class="header">
         
         <img src="../../assets/logoj.svg" width="90px" alt="">
         
        </div>

        <div class="message-text">
          <!-- <p  *ngIf="messageInfo.message" class="no-selected animated" [ngClass]="{'zoomInLeft': messageInfo.message}">{{messageInfo.message}}</p> -->
  
          
           
           
            <div class="chat">
              <div class="user">
                <div class="i_chat">
                  <img src="../../assets/allef-vinicius-vKIc4k6dm10-unsplash.jpg" alt="">
                </div>
                <div class="user-text">
                  <div class="inner-text">
                    <p>Hi</p>
                  </div>
                  <div class="time"><p><small>11:00 AM</small></p></div>
                </div>
              </div>
              <div class="artist">
                <div class="i_chat">
                  <img src="../../assets/allef-vinicius-vKIc4k6dm10-unsplash.jpg" alt="">
                </div>
                <div class="artist-text">
                  <div class="inner-text">
                    <p>How are you doing? </p>
                  </div>
                  <div class="time">
                    <p><small>12:00 AM</small></p>
                  </div>
                </div>
              
              </div>
            </div>
            <div class="chat">
              <div class="user">
                <div class="i_chat">
                  <img src="../../assets/allef-vinicius-vKIc4k6dm10-unsplash.jpg" alt="">
                </div>
                <div class="user-text">
                  <div class="inner-text">
                    <p>Im Very nice and you</p>
                  </div>
                  <div class="time"><p><small>11:00 AM</small></p></div>
                </div>
              </div>
              <div class="artist">
                <div class="i_chat">
                  <img src="../../assets/allef-vinicius-vKIc4k6dm10-unsplash.jpg" alt="">
                </div>
                <div class="artist-text">
                  <div class="inner-text">
                    <p>How are you doing? </p>
                  </div>
                  <div class="time">
                    <p><small>12:00 AM</small></p>
                  </div>
                </div>
              
              </div>
            </div>
           
  
  
  
          <!-- <div class="no-selected" *ngIf="!messageInfo.message">
            <p>Please select a message card on the left hand side to read</p>
          </div> -->
          </div>

 

        <div class="options" >
          <div class="textrear">
            <ion-textarea  placeholder="Type a message"  [(ngModel)]="response" name="" id="" rows="1"></ion-textarea>
          </div>
          <div class="btn-send">
            <ion-button fill="clear" mode="ios" color="success" (click)="sendMessage()">
              <ion-icon name="send"></ion-icon>
            </ion-button>
          </div>
        
        </div>

        
    </div>







  
</ion-content>
