<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="pro-main">
        <div class="profile_rsx">

         <img *ngIf = "!MyImages" src="../../assets/person-icon.jpg" alt="">

         <img *ngIf = "MyImages" src="{{MyImages}}" alt="">

         </div>
         <div class="names">
           <p style="font-weight: bold;">{{MyNames}}</p>
           <p>{{phoneNumber}}</p>
         </div>

      </div>
    </ion-buttons>
    

    <ion-buttons slot="end">
      <ion-button fill="clear" color="dark"  (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content #content>

 

   
   
  

    <div class="content-messages">
       <!--  <div class="header">
         
         <img src="../../assets/logoj.svg" width="90px" alt="">
         
        </div> -->

        <div class="message-text"  #scrollMe >
          <!-- <p  *ngIf="messageInfo.message" class="no-selected animated" [ngClass]="{'zoomInLeft': messageInfo.message}">{{messageInfo.message}}</p> -->
  
          <div class="g_r" *ngIf="MyMessages.length == 0">
            <img src="../../assets/chat.svg" width="200px" alt="">
          </div>
           
           
            <div class="chat"   *ngFor = "let item of MyMessages" >


              <div class="user" *ngIf = "item.cmsUid == null">
                <div class="i_chat">
             
                  <img *ngIf = "!MyImages" src="../../assets/person-icon.jpg" alt="">
                  <img *ngIf = "MyImages" src="{{MyImages}}" alt="">
                </div>
                <div class="user-text">
                  <div class="inner-text">
                    <p>{{item.message}}</p>
                  </div>
                  <div class="time"><p><small>{{item.time}}</small></p></div>
                </div>
              </div>


              <div class="artist" *ngIf = "item.cmsUid ">
                <div class="i_chat">

                  <img *ngIf = "!MyImage" src="../../assets/person-icon.jpg" alt="">
                  <img *ngIf = "MyImage" src="{{MyImage}}" alt="">

                </div>
                <div class="artist-text">
                  <div class="inner-text">
                    <p>{{item.message}}</p>
                  </div>
                  <div class="time">
                    <p><small>{{item.time}}</small></p>
                  </div>
                </div>             
              </div>


            </div>


        
           
  
  
  
          <!-- <div class="no-selected" *ngIf="!messageInfo.message">
            <p>Please select a message card on the left hand side to read</p>
          </div> -->
          </div>

 

      

        
    </div>







  
</ion-content>
<ion-footer no-border>
  
    <div class="options">
      <div class="textrear">
        <ion-textarea  placeholder="Type a message"  [(ngModel)]="response" name="" id="" rows="1"></ion-textarea>
      </div>
      <div class="btn-send">
        <ion-button fill="clear" mode="ios" color="success" (click)="sendMessage()" [disabled]="response==''">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </div>
    
    </div>

</ion-footer>