<ion-content>
  <ion-fab vertical="bottom"  horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="modalAnimate()" *ngIf="!edit && !custom">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <div class="main-container">
    <div class="modal edit animated " [ngClass]="{'flipInX': edit, 'flipOutY': !edit}">
      <div class="small-modal-edit-profile">
        <div class="close-btn">
          <ion-fab-button color="dark" size="small" class="close-btn" fill="clear" (click)="modalAnimate()">
            <ion-icon name="close"></ion-icon>
          </ion-fab-button>
        </div>
       
        <div class="editHeader">
          <h2 class="ion-text-center" style="font-size: 100%;">Edit Your profile</h2>
        </div>
          <ion-grid>
            <ion-row justify-content-center>
              <ion-col size="9" class="pro-form-image">
                <ion-item>
                  <ion-label position="floating">Full Name </ion-label>
                  <ion-icon size="small" mode="ios" slot="end" name="person"></ion-icon>
                  <ion-input type="text" [(ngModel)]="Myname"></ion-input>
                 
                </ion-item>
             
            </ion-col>
             
            </ion-row>
            <ion-row justify-content-center>
              <ion-col size="9" class="pro-form-image">
                <ion-item>
                  <ion-label position="floating">Phone Number</ion-label>
                  <ion-icon size="small" mode="ios" slot="end" name="call"></ion-icon>
                  <ion-input type="text" [(ngModel)]="Mynumber"></ion-input>
                </ion-item>
               
              
              </ion-col>
            </ion-row>
            <ion-row justify-content-center>
              <ion-col size="5" class="pro-form-image">
                <ion-button expand="block" color="success" shape="round" (click)="Edit()">Edit</ion-button>
              
              </ion-col>
            </ion-row>
          </ion-grid> 
      </div>
    </div>
    
  <div class="loader" *ngIf="loader">
    <div class="loader-1">
      
    </div>
  </div>
    <aside class="split-pane animated" [ngClass]="{'slideOutLeft': !split, 'slideInLeft': split}">
      <div class="close">
        <div class="profile-image" *ngIf="showProfile1" routerLink="/profile"  ShowName >
          <img  *ngIf="showProfile1"  src="../../../assets/chris-blonk-aTiGszXqrJE-unsplash.jpg" alt="">
        </div>
        <ion-button fill="clear" (click)="addClasseAnimates()" color="light">
          <ion-icon name="close"></ion-icon>
        </ion-button>
       
      </div>
      <div class="list-split-pane">
        <ion-button class="explore" fill="clear" expand="block" color="light" routerLink="/xplore">Explore</ion-button>
        <ion-button fill="clear" expand="block" color="light" routerLink="/contact-us">Contact Us</ion-button>
        <ion-button fill="clear" expand="block" color="light"  *ngIf="!showProfile1" (click)="Login()">Sign In</ion-button>
        <ion-button fill="clear" expand="block" color="light"  *ngIf="showProfile1" (click)="logout()">Sign Out</ion-button>
        <ion-button fill="solid" expand="block" color="light"  *ngIf="!showProfile1" (click)="CreateAccount()">Create Account</ion-button>
     
      </div>
      <div class="logoman">
        <img src="../../../assets/anotherLogo.svg" width="100px" alt="">
      </div>
    </aside>
    <div class="customizedTDiv animated" [ngClass]="{'bounceOutUp': !custom, 'bounceInUp': custom}">
      <div class="header-custom">
        <h4>Customized Tattoo</h4>
        <ion-button fill="clear" (click)="customTattoos()" color="light" size="small"><ion-icon name="close"></ion-icon></ion-button>
      </div>
       <div class="custom-container">
        <div class="list-custom">
          <div class="image-custom"  *ngFor = "let item of ViewMore" (click)="showTattoo(item)">
            <img src="{{item.dataTattoo.image}}" alt="">
          </div>
         
        </div>
        <div class="showDepict">
          <div class="mess" *ngIf="!showCustom">
            <p style="font-weight: bold; color: #fff;">Please select the image on the side to diplay here in fullscreen</p>
          </div>
          <div class="img-fullscreen">
            <img src="{{showCustom.image_t}}" alt="">
          </div>
          <div class="details">
            <div class="arrows">
              <ion-button size="small" (click)="seeDecribe()" fill="solid"color="light">
                <ion-icon [name]="arrows"></ion-icon>
              </ion-button>
            </div>
            <h1>{{showCustom.name}}</h1>
           
            <p>{{showCustom.desc}}</p>
            <p>Length: {{showCustom.breadth}}cm</p>
            <p>Breadth: {{showCustom.length}}cm</p>

            <ion-button size="large" fill="clear"color="danger" (Click)="DeleteData(showCustom.id )">
              <ion-icon name="trash" ></ion-icon> Delete
            <button (Click)="DeleteData(showCustom.id )">del</button>
            </ion-button>
          </div>
        </div>
       </div>
       
    </div>
    <div class="nav-bar">
      <div  class="menu-btn">
        <ion-button fill="clear" color="light" (click)="addClasseAnimates()">
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </div>
     
        <div class="logo">
          <img src="../../../assets/anotherLogo.svg" width="100px" alt="">
        </div>
        <div class="list">
          <ion-button class="explore" fill="clear" expand="block" color="light" routerLink="/xplore">Explore</ion-button>
          <ion-button fill="clear" expand="block" color="light" routerLink="/contact-us">Contact Us</ion-button>
          <ion-button fill="clear" expand="block" color="light"  *ngIf="!showProfile1" (click)="Login()">Sign In</ion-button>
          <ion-button fill="clear" expand="block" color="light"  *ngIf="showProfile1" (click)="logout()">Sign Out</ion-button>
          <ion-button fill="solid" expand="block" color="secondary"  *ngIf="!showProfile1" (click)="CreateAccount()">Create Account</ion-button>
          <div class="profile-image" *ngIf="showProfile1" routerLink="/profile"  ShowName >
            <p>{{name}}</p>
            <img src="{{image}}"alt="">
          </div>
        </div>
        <div class="notification" *ngIf="showProfile1">
          <ion-button fill="clear" (click)="Notifications()" size="large" color="light">
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>
          <ion-badge class="badge" color="secondary">{{MyNotifications}}</ion-badge>
        </div>
      
    </div>
    <div class="wrapper-page">
      <div class="wrapper-header">
        <h1>Hi,{{Myname}} </h1>
      </div>
      <div class="container-sub">
        <div class="information">
          <div class="cup">
            <div class="profile-image-header-div">
              <div class="move-up">
                <img src="{{image}}"alt="">
              </div>
            </div>
            <div class="info-data">
              <h4> Personal Information</h4>
              <div class="p"> <ion-icon mode="ios" name="person"></ion-icon><p>{{Myname}}</p></div>
              <div class="p"><ion-icon mode="ios" name="mail"></ion-icon><p>{{email}}</p></div>
              <div class="p"><ion-icon mode="ios" name="call"></ion-icon><p>{{Mynumber}}</p></div>
            </div>
            <div class="customizedTattoo">
              <div class="header-custom"><h4 style="font-weight: 700; text-align: center;">Customized Tattoo</h4></div>
              <div class="custom-card-container" >
               
                <div class="custom-card" *ngFor = "let item of Customized">
                  <img src="{{item.dataTattoo.image}}" alt="">
                </div>
              
              </div>
              <div class="more">
                <ion-button fill="clear" slot="icon-only" size="small" expand="block" color="secondary" (click)="customTattoos()">View More</ion-button>
              </div>
            </div>
            
          </div>
          <div class="download"  >
           
            <div class="btn-download" (click)="downloadPdf()" >
              <div class="download-icon"><ion-icon name="download" ></ion-icon></div>
              <div class="text-download">
                <p>Download Contract Form</p>
              </div>
            </div>
           
          </div>
        </div>
        
        <div class="segment">
          <div class="deep">
          
              <h4 style="font-weight: 700;">View all Request</h4>
              <p style="padding: 1em;">Lerror veritatis hic eius asperiores quas at provident, repellendus minus, quam praesentium. Possimus iure voluptate quos.</p>
          
            <ion-segment [(ngModel)]="category" color="primary">
            
              <ion-segment-button value="accepted">
               
                <div class="grow">
                  <ion-badge color="primary">{{size}}</ion-badge>
                  <ion-label>Accepted</ion-label>
                  
                </div>
                
              </ion-segment-button>
              <ion-segment-button  value="declined">
                <div class="grow">
                  <ion-badge color="primary" >{{DeclineSize}}</ion-badge>
                  <ion-label>Declined</ion-label>
                  
                </div>
              </ion-segment-button>
  
  
              <ion-segment-button  value="pending">
                <div class="grow">
                  <ion-badge color="primary">{{PendingSize}}</ion-badge>
                  <ion-label>Pending</ion-label>
                  
                </div>
              </ion-segment-button>
            </ion-segment>
          </div>
    
           
     
        
          <div class="card-container" [ngSwitch]="category">
            <div class="cardFor" *ngSwitchCase="'accepted'">
              <div class="no-items">
                <p>You have no request <span style="color: green;">accepted</span>  yet</p>
              </div>
 
       </div>
       <div class="card"  *ngFor = "let item of Decline">
        <div class="card-t">
          <div class="image-card">
            <img src="{{item.image}}" alt="">
          </div>
          <div class="info">
            <p >{{item.bookingState}}</p>
            <p>{{item.days}} Days Session</p>
            <p>{{item.startingDate | date: 'fullDate'}}</p>
            <p>{{item.endingDate | date: 'fullDate'}}</p>
          </div>
        </div>
      </div>
 <div class="cardFor" *ngSwitchCase="'pending'">
  <div class="card" *ngFor = "let item of Request">
    <div class="card-t">
      <div class="image-card">
        <img src="{{item.image}}" alt="">
      </div>
      <div class="info">
        <p>{{item.bookingState}}</p>
        <p>{{item.category}}</p>
      </div>
    </div>
</div>
</div>
           
         
           
           
          </div>
        </div>
        <div class="editForm">
        
          <div class="deep">
            <h4 style="font-weight: 700;">Messages</h4>
            <p style="padding: 1em;">These are the list of all messages you sent via (Contact-Us) Form</p>
          </div>
          <div class="form">
            <div class="messages"><!-- Put forloop -->
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id eaque perferendis quidem vel omnis hic! Ab et ea unde minus numquam ex aliquam, fugit eligendi accusantium, architecto explicabo neque aperiam.</p>
            
              <div class="times">
                <p><small>12/09/2010</small></p>
                <ion-button fill="clear" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
              </div>
            </div>
          
          </div>  
         
        </div>
      </div>
     
      </div>
      </div>
</ion-content>
