
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0;
    background: #f1f1f1;



}



.p_ {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.profile {
    border-radius: 50px;
    height: 100px;
    width: 100px;
    position: relative;
    border-top: 5px solid rgb(192, 192, 192);
    border-left: 5px solid rgb(192, 192, 192);
    border-right: 5px solid rgb(230, 230, 230);
    border-bottom: 5px solid rgb(230, 230, 230);
    box-shadow:  6px 6px 12px rgba(0, 0, 0, 0.068),  
    -6px -6px 12px  rgba(82, 82, 82, 0.123);
    margin-bottom: 1em;

    .fileContainer {
        padding: 0 !important;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -10px;
        right: 0px;
        background: rgb(192, 192, 192) !important;
        
    }

    img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50px;
    }

}

.times {
    display: flex;
    justify-content: space-between;
    padding-top:.5em ;
    padding-bottom: .5em;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.648);
    z-index: 500;
    display: flex;
    
    justify-content: center;
    align-items: center;


    .small-modal-edit-profile{
        padding: 1em;
        flex-basis: 20%;
       /*  height: 60%; */
        background: rgb(255, 255, 255);
        box-shadow:  6px 6px 12px rgba(0, 0, 0, 0.5),  
          -6px -6px 12px  rgb(82, 82, 82);
          position: relative;
          border-radius: 3px;


          .close-btn {
              position: absolute;
              top: -15%;
              right: 0%;
          }
          .pro-form-image {
              margin-top: 1em;
              display: flex;
              justify-content: center;
             
          }
          
    }
}
ion-row {
    --padding: 1em;

}
.customizedTDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.648);
    z-index: 500;
    display: flex;
    flex-direction: column;
    
    .custom-container {
        display: flex;
        flex-basis: 95%;


        .list-custom {
            flex-basis: 20%;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 2em;
            background: rgba(0, 0, 0, 0.696);
    
            .image-custom {
                flex: 0 0 25%;
                position: relative;
                margin: 1%;
                
                
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
    
        }
        .showDepict{
            flex-basis: 80%;
           /*  background: blue; */
            display: flex;
            flex-direction: column;
            position: relative;

            .mess {
                flex-basis: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .img-fullscreen {
                flex-basis: 100%;
                position: relative;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    background: rgba(0, 0, 0, 0.696);
                }
            }

            .details {
                flex-basis: 20%;
                background: rgb(0, 0, 0);
                position: absolute;
                top: 0;
                right: -30%;
                height: 100%;
                width: 30%;
                color: #fff;
                padding: 1em;
                transition: 500ms;
                

                .arrows {
                    position: absolute;
                    top: 5%;
                    left: -10%;
                }

                p {
                    padding: 1em;
                }
                h1 {
                    padding: 1em;
                }

            }

        }
      
    }
    .header-custom {
        flex-basis: 5%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;

        ion-button {
            position: absolute;
            right: 0;
            top: 0;

        }


        h4 {
            text-align: center;
            color: #fff;
            margin: 0 !important;
            font-size: 100%;
        }

    }
   
}

/* .fullscreenTattoo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;


    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
} */
.nav-bar {
    display: flex;
    flex-basis: 5%;
    margin: 0 auto;
    width: 95%;
    justify-content: space-between;
    align-items: center;
   


    & > * {
        transition: 500ms;
    }
    
    
}

.list {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;


}
.header-explore{
    font-family: 'Pacifico', cursive !important;
    color: #888 !important;
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    img {
        transform: translate(0%, -15%); 
    }
}
.profile-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-right: 1%;

    p {
        margin: 0 !important;
        padding: .5em;

    }
  

    img {
        height: 4vh;
        width: 4vh;
        object-fit: cover;
        border-radius: 50px;


    }
}




.split-pane{
    display: none;
    position: absolute;
    /* z-index: -10; */


}
 .menu-btn {
    display: none;
}
.list-split-pane {
    padding: 1em;

}
.logoman {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;

}
.wrapper-page {
    flex-basis: 95%;
    width: 100%;

    display: flex;
    flex-direction: column;



}
.wrapper-header {
    flex-basis: 20%;
    width: 100%;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)),url('../../assets/matheus-ferrero-7EM79VNJsx4-unsplash.jpg');
    background-position: center;
    background-size: cover; 
   
    
    .profile-image-header {
       /*  position: absolute; */
       /*  top: 10vh;
        left: 10vh; */
        height: 20px;
        width: 20px;
        overflow: hidden;
        border-radius: 50%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.281); 
        border: 10px solid #f1f1f1;
        justify-self: flex-start;
        align-self: flex-end;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    h1 {
        color: #fff;
        font-size: 4vw;
        margin: 0 !important;
    }


}
.container-sub {
    flex-basis: 80%;
   /*  background: red; */
    display: flex;
    
    
}
.information {
    flex-basis: 20%;
 /*    background: rgb(207, 207, 207); */
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
   /*  justify-content: space-between;
 */

}
.grow {
    display: flex;
    justify-content: space-between;
    align-items: center;

   ion-badge {
       margin-right: .56em;
       width: 20px;
       height: 20px;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 50px;
       padding:1em;

       
   }
}
.cup {
    flex-basis: 80%;
    background: rgb(255, 255, 255); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.281); 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5%;


    .profile-image-header-div {
        flex: 0 0 15%;
        display: flex;
        position: relative;


        .move-up {
           
            display: flex;
            justify-content: center;
            position: absolute;
            top: -7.5vh;
            width: 100%;
            height: 15vh;

            img {
                height: 15vh;
                width: 15vh;
                border-radius: 50%;
                border: 5px solid #f1f1f1;
                object-fit: cover;
            }


        }
    }

    .info-data {
        padding: 10px;
        flex-basis: 30%;
        

        h4 {
            text-align: center;
            font-weight: 700;
            
        }
        .p {
         /*    padding: .8em; */
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 1em;

            p {
                margin: 5%;
            }
        }

    }

    .customizedTattoo {
        flex: 0 0 50%;
        
       /*  background: red; */
        display: flex;
        flex-direction: column;
        padding: 1em;
        position: relative;

        &::before {
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 1px;
            background: hsla(0, 0%, 89%, 0.506);
            content: '';
        }

        .header-custom {
            flex: 0 0 5%;
            align-items: center;
            justify-content: center;
        }

        .custom-card-container {
            flex-basis: 90%;
            display: flex;
            flex-wrap: wrap;
           /*  justify-content: center; */
            padding: 1em;
           
          

            .messages {
                height: 100%;
                flex-basis: 100%;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                p {
                    text-align: center;
                }

                position: relative;
              

              
            }

            .custom-card {
                flex-basis: 32%;
                height: 50%;
                position: relative;
                margin: .5%;
                transition: 500ms;
                flex-grow: 0;
                flex-shrink: 0;
                box-shadow:  6px 6px 12px rgba(0, 0, 0, 0.1),  
                -6px -6px 12px  rgba(255, 255, 255, 1);

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }


                &:hover {
                    transform: scale(1.1);

                }
            }


        }

        .more {
            flex-basis: 5%;

        }


    }


}
.segment {
    flex: 0 0  50%;
    background: rgb(255, 255, 255);
    margin-left: 1%;
    margin-right: 1%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    
    
}
.deep {
    flex-basis: 10%;
    /* padding: 3em; */
   
}
.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.form {
    height: 90%;
  /*   flex-grow: 0;
    flex-shrink: 0; */
    overflow-y: scroll;
    overflow-x: hidden;

    .no-mmessages {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .messages {
        position: relative;
        padding: 1em;
        margin-top: 1%;

        .btt {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 1em;

        }
      

        &::before {
            position: absolute;
            top: 0;
            left: 0%;
            width: 3px;
            height: 100%;
            background: #d36954;
            content: '';
        }


    }

/*     height: 50%; */

}
.card-container{
    flex-basis: 80%;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;


     .cardFor {
        display: flex;
        padding: 1em;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: 60%;


    .no-items {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
     
     }

    .card {
       
        flex-basis: 50%;
        height: 50%;
        padding: .5em;

        .card-t {
            width: 100%;
            height: 100%;
            display: flex;
            /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
            box-shadow:  6px 6px 12px rgba(0, 0, 0, 0.1),  
              -6px -6px 12px  rgba(255, 255, 255, 1);
            background: rgb(255, 255, 255);
            border-radius: 1px;

            .image-card {
                flex-basis: 30%;
                position: relative;
                overflow: hidden;
               

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
            }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: .5em;
                font-size: 90%;
                position: relative;

                .icon {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: -15px;
                    right: 1%;
                    border-radius: 50px;
                    background: forestgreen;
                }
            }
        }

        .info {
            padding: .5em;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        
    }
  
}
.download {
    flex: 0 0 7%;
    border-radius: 50px;
    background:#eaeaea;
    cursor: pointer;
    box-shadow:  6px 6px 12px rgba(0, 0, 0, 0.1),  
    -6px -6px 12px  rgba(255, 255, 255, 1);
   /*  background: red; */
    /* padding: 1em; */
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .btn-download {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .header-download {
        margin: 2%;
    }


    &:active {
        box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.1),  
       inset -6px -6px 12px  rgba(255, 255, 255, 1);
    border-radius: 50px;
    cursor: pointer;
    }
}
.editForm {
    flex-basis: 30%;
    height: 60vh;
    padding: 1em;
    margin-right: 1%;
    background: #fff;
    display: flex;
    flex-direction: column;

   /*  height: 70%; */
 
   /* justify-self: flex-start;
   align-self:flex-start ; */

  

 
}

.scroll-container {
    flex-basis: 80%; 
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;



}
.notification {
    position: relative;
}
.badge {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 19px;
    height: 19px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

ion-segment {
    padding: 5px;
  }

ion-button.explore {
    position: relative;


    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        height: 5px;
        background: #d36954;
        border-radius: 50px;
        transition: 500ms;
    }
}

.list > ion-button {
    position: relative;
    transition: 500ms;


   

    &:hover::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        height: 5px;
        background: #d36954;
        border-radius: 50px;
        transition: 500ms;
    }
}



@media only screen and (max-width: 600px) {

    .nav-bar {
        width: 100% !important;
        flex-wrap: wrap;
      

    }

    p, ion-label, ion-segment {
        font-size: 70%;
    }

    h4 {
        font-size: 90%;
    }

  
    .modal {
        .small-modal-edit-profile{
            flex-basis: 90%;

            .close-btn {
                top: -15%;
            }
        }
    }

    ion-badge {
        width: 15px;
        height: 15px;

        font-size: 100%;

    }

   .grow {
       font-size: 60% !important;
   }

    .card-container {
    
        

        .cardFor {
            overflow-x: scroll;
            overflow-y: hidden;
            flex-wrap: nowrap;
            flex-basis: 100%;
        }
      

        .card {
            flex: 0 0 96%;
           /*  background: red; */
            height: 100%;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    .download {
        margin: 2em;
    }

    .details {
        display: flex;
    }
    .profile-image-header-div {
        flex-basis: 5%;
    }

    .customizedTDiv {
        flex-direction: column;

      
        .custom-container {
            flex-direction: column;

            .list-custom {
           
                flex-direction: row;
                overflow-x: auto;
                overflow-y: hidden;
                flex-basis: 40%;
           
            

                .image-custom {
                   flex: 0 0 65%;
                   
               }
   
           }

           .showDepict {
            flex-basis: 60%;
           }    
            
        }
    }
 .wrapper-page {
    overflow-y: auto;
    overflow-x: hidden;
 }
 .information {
   height: 100%;
 }

    .wrapper-page > div{
        flex-grow: 0;
        flex-shrink: 0;
        
    }
    .wrapper-header{
        justify-content: flex-start;
        padding: .5em;
       /*  .profile-image-header {
            position: relative;
            jus

        } */
    }

    .editForm {
        display: none;

    }
  /*   .information {
        flex-basis: 100%;
    } */
   

    .p {
        padding: 0 !important;
        
        p {
            padding: 0 !important;
        }

        /* justify-content: center; */
    }

    .container-sub { 
        flex-direction: column;
       /*  flex-grow: 1;
        flex-shrink: 1; */

        
        .information
         {

            flex: 0 0 90%;
            flex-direction: column;
           
         
            .cup {
                flex: 1;
               /*  background: blue; */
                margin: 0 !important;
            }
        }
        
    }
   

    .logo img {
        width: 60px;
        transform: translate(0, -15%);
    }

    .tattoo-details > .tattoo-card-details {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: center;

      
    }

    .image-card-t, .describe-card-s {
        display: none;
    }

    .slides {
        display: none;
        position: absolute;
        top: -15px;
        left: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 30px;
        z-index: 800;


        ion-fab-button {
            --width: 30px;
            --height: 30px;

        }
    }

    .tattoo-details > .image-tattoo {
        flex-basis: 100%;


        img {
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            border: none;
  
            /* #2 */
            padding: 0px;
            background: none;
            
            /* #3 */
            outline: none;
            
            /* #4 AND INFINITY!!! (CSS3 only) */
            box-shadow:
                0 0 0 10px hsl(0, 0%, 0%),
                0 0 0 15px hsl(0, 0%, 3%);
        }


    }


    .scroll-container {
        .scroll-list {
            flex: 0 0 60%;

            .scroll-item {
                .scroll-key {
                    flex: 0 0 80%;
                }
               
            }
        }
    }

    .list {
        display: none;
    
    }
    .menu-btn  {
        display: block;
    }
    .split-pane {
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background: rgba(0, 0, 0, 0.83);
        z-index: 1000;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.281);
        padding-bottom: 1em;

        .close {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-basis: 25%;
            background: rgba(66, 66, 66, 0.404);
            position: relative;
            padding-left: .5em;
            padding-right: .5em;
            &::after {
                position: absolute;
                bottom: 0;
                left: 5%;
                width: 90%;
                background: rgba(221, 221, 221, 0.096);
                height: 2px;
                border-radius: 50px;
                content: '';
            }

            .btn-man {
                position: absolute;
                top: 0;
                right: 0;

            }


            .profile-image {
                margin-right: 1%;
                
                 
                img {
                    height: 10vh;
                    width: 10vh;
                    border-left: 3px solid rgb(161, 148, 148);
                    border-top: 3px solid rgb(192, 174, 174);
                    border-right: 3px solid rgba(211, 106, 85, 0.663);
                    border-bottom: 3px solid rgba(211, 105, 84, 0.714);
                }
            }
    
        }

        .list-split-pane {
            flex-basis:60%;
            display: flex;
            flex-direction: column;
            padding: 0 !important;


            div.btn-return  {
                width: 100%;
                text-align: left;
                color: rgb(228, 228, 228);
               flex-basis: 20%;
                background: rgba(3, 3, 3, 0.63);
                margin-top: 2%;
                display: flex;
                align-items: center;
                padding-left: 2em;
                font-family: 'NewRocker';
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 4px;
                    height: 100%;
                    background: #d36954;
                    border-radius: 50px;
                }
            }
        }

        .logoman {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: 15%;
        
        }


    }
    .logo {
        flex: 1;

    }
    
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .container-sub {

        .information {
            flex: 0 0 40%;
        }
      
    }
    .list {
        display: none;
    
    }
    .split-pane {
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        background: rgba(0, 0, 0, 0.83);
        z-index: 1000;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.281);
        padding-bottom: 1em;

        .close {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-basis: 25%;
            background: rgba(66, 66, 66, 0.404);
            position: relative;
            padding-left: .5em;
            padding-right: .5em;
            &::after {
                position: absolute;
                bottom: 0;
                left: 5%;
                width: 90%;
                background: rgba(221, 221, 221, 0.096);
                height: 2px;
                border-radius: 50px;
                content: '';
            }

            .btn-man {
                position: absolute;
                top: 0;
                right: 0;

            }


            .profile-image {
                margin-right: 1%;
                
                 
                img {
                    height: 10vh;
                    width: 10vh;
                    border-left: 3px solid rgb(161, 148, 148);
                    border-top: 3px solid rgb(192, 174, 174);
                    border-right: 3px solid rgba(211, 106, 85, 0.663);
                    border-bottom: 3px solid rgba(211, 105, 84, 0.714);
                }
            }
    
        }

        .list-split-pane {
            flex-basis:60%;
            display: flex;
            flex-direction: column;
            padding: 0 !important;


            div.btn-return  {
                width: 100%;
                text-align: left;
                color: rgb(228, 228, 228);
               flex-basis: 20%;
                background: rgba(3, 3, 3, 0.63);
                margin-top: 2%;
                display: flex;
                align-items: center;
                padding-left: 2em;
                font-family: 'NewRocker';
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 4px;
                    height: 100%;
                    background: #d36954;
                    border-radius: 50px;
                }
            }
        }

        .logoman {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: 15%;
        
        }


    }
    .logo {
        flex: 1;

    }
    .menu-btn  {
        display: block;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container-sub {
       
 
        .information {
            flex: 0 0 40%;
        }
      
    }

    .editForm {
    
        display: none;
    }
    .segment {
        flex: 0 0 60%;
    }

    .cardFor {

        .card {
            .card-t {
                position: relative;
                .image-card {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }

                  
                }
                .info {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    padding: .5em;
                    color: #fff;
                    background: rgba(0, 0, 0, 0.423);
                }
            }
        }

    }
}