<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <img src="../../assets/logo.png" alt="" width="50px">
   
    </ion-buttons>


  <ion-buttons class="side-menu" slot="end">
   <ion-button mode="ios" fill="clear" size="large">
    Sign Up
   </ion-button>
   <ion-button mode="ios" fill="clear" size="large">
    Sign Up
   </ion-button>
   <ion-button mode="ios" fill="clear" size="large">
    Sign Up
   </ion-button>
   <ion-button mode="ios" fill="solid" color="secondary" shape="round" size="large">
    Sign Up
   </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
