

@media only screen and (max-width: 600px) {
    ion-toolbar.toolbar-container {
        height: 100%;
        position: fixed;
        width: 80%;
        flex-direction: column !important;
    }
    .side-menu {
       
    }
}