<ion-content>
 

  <div class="loader" *ngIf="loader">
    <div class="loader-1">
      
    </div>
  </div>

 <div class="tattoo-image animated" *ngIf="tattooDisplay" [ngClass]="{'zoomOut': !tattooDisplay, 'fadeIn': tattooDisplay}">
   <div class="close-btn">
    <ion-button fill="clear" size="large" (click)="tattooAnimated('')" color="light">
      <ion-icon name="close"></ion-icon>
    </ion-button>

   
   </div>
   <div class="tattoo-details">
     <div class="image-tattoo">
     <img class="animated zoomIn delay-1s" src="{{tattoos.image}}" alt="">
     <p style="color: aliceblue;"></p>
     </div> 
     <div class="tattoo-card-details">

      <!-- <div class="slides">
        <ion-fab-button fill="clear" size="small" (click)="tattooAnimated('')" color="light">
          <ion-icon name="ios-arrow-down"></ion-icon>
        </ion-fab-button>
      </div> -->
       <div class="image-card-t">
       <img  src="{{tattoos.image}}" alt="">
      
       </div>
       <div class="describe-card-s">
       <h1 class="ion-text-center">{{tattoo.StartingpriceRange | currency : '&#82;'}} - {{tattoo.EndingpriceRange | currency : '&#82;'}}</h1>
       <p class="ion-text-center name">{{tattoos.nameTattoo}}</p>
       <p>{{tattoos.description}}</p> 
      </div>
      <div class="booking">
        <ion-button mode="ios" fill="solid" shape="round" expand="half" (click)="Booking(continue)" color="success">Continue Bookings</ion-button>
      </div>
     
     </div>

     
  </div>
 
 </div>







  
  <div class="main-container">

    <div class="view-more animated" *ngIf="viewMore">
       <div class="list-view">
         <div class="close-bt">
         
          <ion-button fill="clear" color="light" size="large" (click)="viewMoreFunc()"><ion-icon size="large" name="ios-close"></ion-icon></ion-button>
         </div>
         <div class="segment">
          <ion-segment  [(ngModel)]="category" value="javascript">
            <ion-segment-button value="portrait">
              <ion-label>Portrait Tattoos</ion-label>
            </ion-segment-button>
            <ion-segment-button value="art">
              <ion-label>Art Work</ion-label>
            </ion-segment-button>
          </ion-segment>
         </div>
         <div class="list_b"  [ngSwitch]="category">
            <div class="categories"  *ngSwitchCase="'portrait'">
                <div class="card_more" *ngFor="let tattoo of Sketch;">
                    <img src="{{tattoo.image}}" alt="">
                    <div class="name-btn">
                      <div class="btn-tattoo">
                        <ion-button mode="ios" expand="half" size="small" color="light" fill="clear" (click)="tattooAnimated(tattoo)"> View to Book </ion-button>
                      </div>
                      <p>{{ tattoo.name | titlecase}}</p>
                    </div>
                </div>
                  
                
            </div>


            <div class="categories" *ngSwitchCase="'art'">
              <div class="card_more" *ngFor="let tattoo of PreviouseWork">
                <img src="{{tattoo.image}}" alt="">
                <div class="name-btn">
                  <div class="btn-tattoo">
                    <ion-button  mode="ios" expand="half" size="small" color="light" (click)="tattooAnimated(tattoo)" fill="clear"> View to Book </ion-button>
                  </div>
                  <p>{{ tattoo.name}}</p>
                </div>
            </div>
            </div>
       
         </div>
       </div>
    </div>




    <div class="onbording" *ngIf="onboard">
      <div class="onboard">

        <div class="btn-close">
          <ion-fab-button mode="ios" size="small" (click)="onboardingFunc()" color="dark">
            <ion-icon mode="ios" name="close"></ion-icon>
          </ion-fab-button>
        </div>
            <ion-slides pager="true" #slides>
           
           
              <ion-slide>
                <div class="content">
                  <div class="image">
                    <img src="../../assets/allef-vinicius-hxNiXP498UI-unsplash.jpg" alt="">
                    <h1>EXPLORE!</h1>
                  </div>
                  <div class="info">
                    <div class="dc_lorem">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium delectus totam ipsam, debitis labore adipisci harum </p>
                    </div>
                      <div class="dc_btn">
                        <ion-row justify-content-center>
                          <ion-col size="8">
                             <ion-button mode="ios" color="secondary" (click)="onNext()" shape="round">
                               Next
                           </ion-button>
                          </ion-col>
                        </ion-row>
                      </div>
                
                  </div>
                </div>
                
              </ion-slide>
              <ion-slide>
                <div class="content">
                  <div class="image">
                    <img src="../../assets/allef-vinicius-vKIc4k6dm10-unsplash.jpg" alt="">
                    <h1>BOOK RIGHT AWAY!</h1>
                  </div>
                  <div class="info">
                    <div class="dc_lorem">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium delectus totam ipsam, debitis labore adipisci harum </p>
                    </div>
                      <div class="dc_btn">
                        <ion-row justify-content-center>
                          <ion-col size="8">
                             <ion-button mode="ios" color="secondary" (click)="onNext()" shape="round">
                               Next
                           </ion-button>
                          </ion-col>
                        </ion-row>
                      </div>
                
                  </div>
                </div>
              </ion-slide>
              <ion-slide>
                <div class="content">
                  <div class="image">
                    <img src="../../assets/chris-blonk-aTiGszXqrJE-unsplash.jpg" alt="">
                    <h1>NOTIFICATIONS!</h1>
                  </div>
                  <div class="info">
                    <div class="dc_lorem">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium delectus totam ipsam, debitis labore adipisci harum </p>
                    </div>
                      <div class="dc_btn">
                        <ion-row justify-content-center>
                          <ion-col size="8">
                             <ion-button mode="ios" color="secondary" (click)="onNext()" shape="round">
                               Next
                           </ion-button>
                          </ion-col>
                        </ion-row>
                      </div>
                
                  </div>
                </div>
              </ion-slide>
              <ion-slide>
                <div class="content">
                  <div class="image">
                    <img src="../../assets/chris-blonk-sjI_iRsD-kU-unsplash.jpg" alt="">
                    <h1>CUSTOMIZE A TATTOO!</h1>
                  </div>
                  <div class="info">
                    <div class="dc_lorem">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium delectus totam ipsam, debitis labore adipisci harum </p>
                    </div>
                      <div class="dc_btn">
                        <ion-row justify-content-center>
                          <ion-col size="8">
                             <ion-button mode="ios" color="secondary" (click)="onboardingFunc()" shape="round">
                               Done
                           </ion-button>
                          </ion-col>
                        </ion-row>
                      </div>
                
                  </div>
                </div>
              </ion-slide>

            </ion-slides>
        
      </div>
</div>

    <aside class="split-pane animated" [ngClass]="{'slideOutLeft': !split, 'slideInLeft': split}">
      <div class="close">
        <div class="profile-image" *ngIf="showProfile1" routerLink="/profile"  ShowName >
          <img  *ngIf="Picture"  src="{{Picture}}" alt="">
          <img  *ngIf="!Picture"  src="../../assets/person-icon.jpg" alt="">
        </div>
        <div class="info-side" *ngIf="Myname">
          <p style="color: #fff;">{{Myname}}</p>
        
        </div>
       
        <div class="btn-man">
          <ion-button  mode="ios"  size="large"  fill="clear" (click)="addClasseAnimates()" color="light">
            <ion-icon mode="ios" name="close"></ion-icon>
          </ion-button>
        </div>
       

       
      </div>

      <div class="list-split-pane">
        <div class="btn-return" *ngIf="!showProfile1" routerLink="/">Explore</div>
        <div class="btn-return" *ngIf="showProfile1" routerLink="/">Home</div>
        <div class="btn-return"  (click)="addClasseAnimates()"  routerLink="/contact-us">Contact Us</div>
        <div class="btn-return"  (click)="addClasseAnimates()"   *ngIf="!showProfile1" (click)="Login()">Sign In</div>
        <div class="btn-return"  (click)="addClasseAnimates()"  *ngIf="showProfile1" (click)="logOut()">Sign Out</div>
        <div class="btn-return" (click)="addClasseAnimates()"  *ngIf="!showProfile1" (click)="CreateAccount()">Create Account</div>
        <div class="btn-return" *ngIf="showProfile1"[style.display]="!tattooDisplay ? 'flex' : 'none'" (click)="opnModal()">Upload your own Tattoo</div>
          
      </div>
      <div class="logoman">
        <img src="../../assets/split.svg" width="150px" alt="">
      </div>
    </aside>
    <ion-toolbar color="dark">
      <div class="nav-bar">
        <div  class="menu-btn">
          <ion-button mode="ios" fill="clear" color="light" (click)="addClasseAnimates()">
            <ion-icon mode="ios" name="menu"></ion-icon>
          </ion-button>
        </div>
       
          <div class="logo">
            <img src="../../assets/logoj.svg" width="80px" alt="">
          </div>
          <div class="list">
            <ion-button  mode="ios" class="explore" fill="clear" expand="block"  *ngIf="!showProfile1" color="light" routerLink="/">Explore</ion-button>
            <ion-button  mode="ios" class="explore" fill="clear" expand="block" *ngIf="showProfile1" color="light" routerLink="/">Home</ion-button>
           
            <ion-button  mode="ios" fill="clear" expand="block" color="light" routerLink="/contact-us">Contact Us</ion-button>
            <ion-button  mode="ios" fill="clear" expand="block" color="light"  *ngIf="!showProfile1" (click)="Login()">Sign In</ion-button>
            <ion-button  mode="ios" fill="clear" expand="block" color="light"  *ngIf="showProfile1" (click)="logOut()">Sign Out</ion-button>
            <ion-button  mode="ios" fill="outline" expand="block" color="secondary" shape="round"  *ngIf="!showProfile1" (click)="CreateAccount()">Create Account</ion-button>
            <div class="profile-image" *ngIf="showProfile1" routerLink="/profile"  ShowName >
              <p>{{Myname}}</p>
  
              <!-- <img  src="../../../assets/chris-blonk-aTiGszXqrJE-unsplash.jpg" alt=""> -->
  
  
              <img *ngIf="!Picture" src="../../assets/person-icon.jpg"alt="">
              <img *ngIf="Picture" src="{{Picture}}"alt="">
            </div>
            <ion-button mode="ios" *ngIf="showProfile1"[style.display]="!tattooDisplay ? 'block' : 'none'" mode="ios" shape="round" fill="outline" (click)="opnModal()" color="secondary">Upload your own Tattoo</ion-button>
          </div>
  
          <div class="notification" *ngIf="showProfile1">
  
            <ion-button mode="ios" fill="clear" (click)="Notifications()" size="large" color="light">
              <ion-icon  mode="ios" name="notifications-outline"></ion-icon>
            </ion-button>
            <ion-badge mode="ios" class="badge" color="secondary">{{MyNotifications}}</ion-badge>
          </div>
       
      </div>
    </ion-toolbar>
  
    <div class="wrapper-page">

      
      <div class="wrapper-header">

         <div class="forward-and-back">
          <ion-button (click)="prevSlides()" size="large" color="light" fill="clear">
            <ion-icon name="ios-arrow-back">

            </ion-icon>
          </ion-button>
          <ion-button (click)="nextSlides()" size="large" color="light" fill="clear">
            <ion-icon name="ios-arrow-forward">

            </ion-icon>
          </ion-button>
        </div> 

        <div class="images__r">
          <img src="../../assets/Group 45@2x.png" alt="">
        </div>
        <ion-slides pager="true" [options]="slideOpts" #slideBanner>
          <ion-slide  class="slide1 animated slideInUp">
            <img src="../../assets/photo1.jpg" alt="">
          </ion-slide>
   
          <ion-slide class="slide2 animated slideInUp">
            <img src="../../assets/photo3.jpg" alt="">
          </ion-slide>
          <ion-slide class="slide3 animated slideInUp">
            <img src="../../assets/photo4.jpg" alt="">
          </ion-slide>
          <ion-slide class="slide3 animated slideInUp">
            <img src="../../assets/photo5.jpg" alt="">
          </ion-slide>
          <ion-slide class="slide3 animated slideInUp">
            <img src="../../assets/photo6.jpg" alt="">
          </ion-slide>
          <ion-slide class="slide3 animated slideInUp">
            <img src="../../assets/photo7.jpg" alt="">
          </ion-slide>
          <!-- <ion-slide class="slide3 animated slideInUp">
            <img src="../../assets/photo8.jpg" alt="">
          </ion-slide> -->
          <ion-slide class="slide3 animated slideInUp">
            <img src="../../assets/letter1.jpg" alt="">
          </ion-slide>
          <ion-slide class="slide3 animated slideInUp">
            <img src="../../assets/letter2.jpg" alt="">
          </ion-slide>
        </ion-slides>
    
      </div>

      <div class="small-device-header">
        <h1>Explore</h1>
      </div>


      <div class="scroll-container">



        <div class="scroll-list">
          <div class="header-scroll">
            <h1>Portraits Tattoos</h1>
            <ion-button fill="outline" (click)="viewMoreFunc('portrait')" mode="ios" size="small" color="secondary" shape="round">View All</ion-button>
          </div>
          <div class="scroll-item">
            <div class="scroll-key" *ngFor="let tattoo of Sketch;"  >
              <div class="scroll-value">
                <div class="r_image">
                  <img src="{{tattoo.image}}" alt="">
                    
                 <div class="info-scroll">
                  <div class="book-btn">
                    <ion-button mode="ios" expand="half" size="small" color="light" fill="clear" (click)="tattooAnimated(tattoo)"> View to Book </ion-button>
                  </div>
                    <p class="ion-text-left">{{ tattoo.name | titlecase}}</p>
                </div> 
                </div>
              
              </div>
            </div>
         
      
          
           
           
           
          </div>
        </div>

        <div class="scroll-gang">
          <div class="header-scroll">
            <h1>Art Work Tattoos</h1>
            <ion-button fill="outline" mode="ios" size="small" color="secondary" (click)="viewMoreFunc('art')" shape="round">View All</ion-button>
          </div>
          <div class="gang-wr">
            <div class="key-gang" *ngFor="let tattoo of PreviouseWork">
           
              <div class="scroll-gang_r">
                <div class="r_image">
                  <img src="{{tattoo.image}}" alt="">
                  <div class="info-scroll-gang">
                    <div class="book-btn">
                      <ion-button  mode="ios" expand="half" size="small" color="light" (click)="tattooAnimated(tattoo)" fill="clear"> View to Book </ion-button>
                    </div>
                      <p class="ion-text-left">{{ tattoo.name}}</p>
                  </div>
                </div>
              
                
              </div>
            </div>
            
          </div>
        </div>
       
        <ion-grid>
          <ion-row justify-content-center align-items-center style="padding: 2em; background: rgb(54, 54, 54);">
            <ion-col  size-xs="12" size-sm="12" size-md="6" size-lg="3">
              <div class="navigations">
                <div class="head_t">
                 <p style="font-size: 120%; text-align: left;"><strong> Navigation</strong></p>
                </div>
               <div class="nav_t">
                 <p *ngIf="!showProfile1" color="light" routerLink="/">Explore</p>
                 <p *ngIf="showProfile1" color="light" routerLink="/">Home</p>
                 <p routerLink="/contact-us">Contact Us</p>
                 <p *ngIf="!showProfile1" (click)="CreateAccount()">Create an Account</p>
                 <p *ngIf="!showProfile1" (click)="Login()">Sign In</p>
               </div>
           
              </div>
              
            </ion-col>
            <ion-col  size-xs="12" size-sm="12" size-md="6" size-lg="3">
              <div class="conta_r">
                <p style="font-size: 100%"><strong> Contact Us</strong></p>
              
              </div>
              
              <div class="conta_r" *ngFor="let contact of Contact">
                <ion-fab-button color="transparent" size="small">
                  <ion-icon name="ios-call"></ion-icon>
                </ion-fab-button>
                <p>{{contact.doc.phoneNumber}}</p>
              </div>
              <div class="conta_r" *ngFor="let contact of Contact">
                <ion-fab-button color="transparent" size="small">
                  <ion-icon name="ios-pin"></ion-icon>
                </ion-fab-button>
                <p>{{contact.doc.address}}</p>
              </div>
              <div class="conta_r"*ngFor="let contact of Contact">
                <ion-fab-button color="transparent" size="small">
                  <ion-icon name="ios-mail"></ion-icon>
                </ion-fab-button>
                <p>{{contact.doc.email}}</p>
              </div>
            </ion-col>
            <ion-col  size-xs="12" size-sm="12" size-md="12" size-lg="3">
             
              <div class="aboutUs">
                <div class="logo-footer">
                  <img src="../../assets/anotherLogo.svg" width="70px" alt="">
                </div>
                <div class="b_rr">
                  <p style="font-size: 120%"><strong> About Us</strong></p>
                <p>Lorem ipsum, dolor sit amplicabo ea, reiciendis autem asperiores veritatis hic expedita fuga, laborum voluptas! Libero, voluptatibus.</p>
                
              </div>
            
              </div>
            </ion-col>
          </ion-row>
              
          
    
        </ion-grid>
      </div>

      
      
    </div>
 
  
  </div>



</ion-content>
<ion-footer>
  <ion-toolbar color="dark" >
    <div class="social">
      <p style="font-size: 80%; color: rgb(255, 255, 255)">Ink Scribe Tattoo Company &copy; 2020</p>
    </div>
</ion-toolbar>
</ion-footer>