/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~animate.css/animate.min.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;


}
p, h1, h2,h3,h4,h5,h6,small {
  font-family: 'Montserrat', sans-serif !important;
  
}


.modalNotification .modal-wrapper {
    width: 30%;
    transform: translate(0, -100%);
}

.fileContainer {
  overflow: hidden;
  position: relative;
}

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}


.fileContainer {
  background: #de652d;
  color: #fff;
  float: left;
  padding: 1em !important;
}

.fileContainer [type=file] {
  cursor: pointer;
}

@media screen and (max-width: 50em) {
.inputfile-6 + label strong {
  display: block;
}
}
    
@media only screen and (max-width: 600px) {
    .modalNotification .modal-wrapper {
      width: 100%;
    }
  }
  @media only screen and (min-width: 600px) {
    .modalNotification .modal-wrapper {
      width: 40%;
    }
  }
  @media only screen and (min-width: 1200px) {
    .modalNotification .modal-wrapper {
      width: 30%;
    }
  }

  /* Loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.781);
  z-index: 2000;
  animation-name: zoomIn;
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  animation-iteration-count: 1;
 
  
  transform: scale(1);
}
.loader-1 {

height: 20vw;
width: 20vw;
position: relative;
border: 3px solid transparent;
border-top-color: #343fdb;
border-bottom-color: #34a6db; 
border-radius: 50%;
-webkit-animation: spin 2s linear infinite;
-moz-animation: spin 2s linear infinite;
-o-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;

&::before {

  content: "";
  position: absolute;
  top:2%;
  bottom: 2%;
  left: 2%;
  right: 2%; 
  border: 3px solid transparent;
  z-index: 2;
  border-top-color: #db21bc;
  border-radius: 50%;
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  -o-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

&::after {
  content: "";
  position: absolute;
  top:5%;
  bottom: 5%;
  left: 5%;
  right: 5%; 
  border: 3px solid transparent;
  border-top-color: #de652d;
  z-index: 2;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  -o-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
}


@keyframes spin {
0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
}

50% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera */
}
100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
}
}

