/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.container {
    height: 100%;
    width: 100%;
    position: relative;
    /* display: flex;
    flex-direction: column; */
  
    border-radius: 1em 1em 0 0;
    
  }

  .messages {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .cards {
    flex: 1;
    height: 100%;
    width: 100%;
    overflow: auto;

    /* display: flex;
    flex-direction: column; */
  } 
  
  .card {
    flex: 0 0 20%;
    height: 20%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.116), 0 3px 6px rgba(0, 0, 0, 0.185);
    /* border-radius: .5em; */
    margin-bottom: 5%;
    justify-content: space-between;
  }
  .profile {
    flex-basis: 30%;
    height: 100%;
    overflow: hidden;
   /*  border-radius: .5em; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.027), 0 3px 6px rgba(0, 0, 0, 0.11);
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
     
    }
 }

 .info-to-card {
    padding: .8em;
    position: relative;

   flex-basis: 60%;
     h4, p {
       font-size: 80%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0 !important;
        color: #555;
     }
     h4 {
         font-size: 2.8vh;
     }

     .article {
         display: none;
     }
  }
  .accept-decline {

      
      justify-self: flex-end;
      flex-basis: 10%;
      display: flex;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.11);
         
      .btn {
        flex: 1;
      }
      
       
  }

    
  .call-btn {
    height: 4vh;
    width: 4vh;
    box-shadow: none;
    position: absolute;
    bottom: 20%;
    right: -3vh;
    

    .icon {
        font-size: 2vh;
    }
}
  .sessions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
  }
@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
    .call-btn {
        height: 6vh;
        width: 6vh;
        right: -4.5vh;
    }
}