/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  ion-content {
    --background: #eaeaea;
  }


  .slideBox {
    display: flex !important;
  }
  .closeBox {
    display: none !important;
  }

.container {
    height: 100%;
    width: 100%;
    position: relative;
    /* display: flex;
    flex-direction: column; */
  
    border-radius: 1em 1em 0 0;
    
  }

  .messages {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .cards {
    flex: 1;
    height: 100%;
    width: 100%;
    
   /*  overflow: auto; */

    /* display: flex;
    flex-direction: column; */
  } 
  
  .card {
    flex: 0 0 20%;
    height: 23%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    box-shadow:  6px 6px 12px rgba(0, 0, 0, 0.1),  
    -6px -6px 12px  rgba(255, 255, 255, 1);
    border-radius: .5em !important;
    overflow: hidden;
    margin-bottom: 5%;
   /*  padding: 1em; */
    justify-content: space-between;

    &::before {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow:  6px 6px 12px rgba(0, 0, 0, 0.1),  
      -6px -6px 12px  rgba(255, 255, 255, 1);
      content: '';

    }
  }
  .profile {
    flex-basis: 30%;
    height: 100%;
    overflow: hidden;
   /*  border-radius: .5em; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.027), 0 3px 6px rgba(0, 0, 0, 0.11);
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
     
    }
 }

 .info-to-card {
    padding: .8em;
    position: relative;

   flex-basis: 60%;
     h4, p {
       font-size: 80%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0 !important;
        color: #555;
     }
     h4 {
         font-size: 2.8vh;
     }

     .article {
         display: none;
     }
  }
  .accept-decline {

      
      justify-self: flex-end;
      flex-basis: 15%;
      display: flex;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.11);
         
      .btn_accept, .btn_decline{
        flex-basis:100%;
        border-radius: none !important;
     
       
      }
      .btn_accept {
        background: rgba(0, 150, 20, 0.74) !important;
      }

      .btn_decline {
        background: #d36954af !important;
      }
      
       
  }

    
  .call-btn {
    height: 4vh;
    width: 4vh;
    box-shadow: none;
    position: absolute;
    bottom: 20%;
    right: -3vh;
    

    .icon {
        font-size: 2vh;
    }
}
  .sessions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
  }
@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
    .call-btn {
        height: 6vh;
        width: 6vh;
        right: -4.5vh;
    }
}