.error {
    color: red;
    margin: 0 auto !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80%;
    width: 90%;
}
.main {
    display: flex;
    height: 100%;
    width: 100%;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    position: absolute;
    top: 0;
    left: 0;
    
}

.upload-tattoo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/allef-vinicius-hxNiXP498UI-unsplash.jpg');
    background-position: right;
    background-size: cover;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.027), 0 3px 6px rgba(0, 0, 0, 0.11);

    .upload {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #d6d6d6;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        font-size: 2vh;
        
    }

    .ink {
        transform: rotate(-90deg);
        font-weight: bolder;
        font-size: 200%;
        color: #333;

    }
     
}
.btn-upload-tattoo {
    height: 6vw;
    width: 6vw;

}
.form-container {
    flex: 1;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
 

}
 .logo {
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

} 

@media only screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    ion-title {
    display: none;
    }
    
.upload-tattoo {
    flex-basis: 20%;


    .ink {
        transform: rotate(0deg);
        font-family: 'Pacifico', cursive !important;
        color: rgb(0, 0, 0);

    }
}
}
.signin {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 80%;
    }
}